body {
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    h2 {
        text-align: center;
    }

    input, button,select {
        margin: 10px 0;
        padding: 10px;
        font-size: 16px;
    }
    input {
        width: 92%;
    }
    select, button {
        width:100%;
    }
   

    .result {
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
}
